<h2>Profil uporabnika</h2>
<a href="/questions" class="btn btn-secondary mb-3">← Nazaj</a>
<div class="card p-4 shadow-sm">
    <img src="{{profileUser.profileImage}}" width="100" class="rounded-circle mb-3" />

    <h4>{{profileUser.username}}</h4>

    <p>Vprašanja: {{questionCount}}</p>
    <p>Odgovori: {{answerCount}}</p>
    <p>Sprejeti odgovori: {{acceptedCount}}</p>
</div>